
<div>
  <p><a href="/"><picture><source type="image/svg+xml" srcset="https://www.bio-rad.com/sites/default/files/2023-02/bio-rad-logo.svg" media="(min-width: 600px)"><img src="https://www.bio-rad.com/sites/default/files/2023-02/bio-rad-logo.svg" alt="Bio-Rad Logo"></picture></a></p>
  <p>Follow Us</p>
  <ul>
    <li><a href="https://www.linkedin.com/company/bio-rad">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/user/BioRadLifeScience">YouTube</a></li>
    <li><a href="https://www.facebook.com/biorad/">Facebook</a></li>
    <li><a href="https://www.instagram.com/bioradlabs/">Instagram</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="https://www.bio-rad.com/en-us/about/about-us">About Bio-Rad</a></li>
    <li><a href="https://www.bioradiations.com/">Bioradiations</a></li>
    <li><a href="https://www.bio-rad.com/help-center">Help center</a></li>
  </ul>
  <ul>
    <li><a href="https://www.bio-rad.com/en-us/about/sustainability">Sustainability</a></li>
    <li><a href="https://investors.bio-rad.com/press-releases">Newsroom</a></li>
  </ul>
  <ul>
    <li><a href="https://careers.bio-rad.com/homepage">Careers</a></li>
    <li><a href="https://investors.bio-rad.com/">Investor Relations</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="https://www.bio-rad.com/">Home</a></li>
    <li><a href="https://www.bio-rad.com/trademarks">Trademarks</a></li>
    <li><a href="https://www.bio-rad.com/site-terms">Site Terms</a></li>
    <li><a href="https://www.bio-rad.com/feature/cybersecurity-overview">Cybersecurity</a></li>
    <li><a href="https://www.bio-rad.com/webroot/web/html/featured/en/web-accessibility.html">Web Accessibility</a></li>
    <li><a href="https://www.bio-rad.com/terms-conditions">Terms and Conditions</a></li>
    <li><a href="https://www.bio-rad.com/privacy">Privacy</a></li>
    <li><a href="#">Your Privacy Choices</a></li>
  </ul>
  <p>United States</p>
</div>
<div>
  <p><strong>&copy; 2026 Bio-Rad Laboratories, Inc.</strong></p>
</div>
