
<div>
  <ul>
    <li><a href="/en-us/quickorder"><span class="icon icon-quick-order"></span> Quick order</a></li>
    <li><a href="https://commerce.bio-rad.com/orderstatus"><span class="icon icon-order-status"></span> Order status</a></li>
    <li><a href="/en-us/help-center"><span class="icon icon-help-center"></span> Help center</a></li>
    <li class="header-locale-item">
      <span class="icon icon-globe" aria-hidden="true"></span>
      <select class="header-locale-select" name="locale" aria-label="Language and region" title="Language and region">
        <option value="/en">US | EN</option>
        <option value="/fr">FR</option>
        <option value="/de">DE</option>
      </select>
    </li>
  </ul>
</div>
<div>
  <p><a href="/"><picture><source type="image/svg+xml" srcset="https://www.bio-rad.com/sites/default/files/2023-02/bio-rad-logo.svg" media="(min-width: 600px)"><img src="https://www.bio-rad.com/sites/default/files/2023-02/bio-rad-logo.svg" alt="Bio-Rad"></picture></a> Bio-Rad</p>
</div>
<div>
  <ul>
    <li><p><a href="/en/s/">Specialties</a></p></li>
    <li><p><a href="/en/a/">Applications</a></p></li>
    <li><p><a href="/en/p/">Products</a></p></li>
    <li><p><a href="/en/e/">Services</a></p></li>
    <li><p><a href="/en/r/">Resources</a></p></li>
    <li><p><a href="/en/nws/">News &amp; Events</a></p></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="https://commerce.bio-rad.com/en-us/login-registration">Login | Register</a></li>
    <li><a href="https://commerce.bio-rad.com/en-us/shopping-cart"><span class="icon icon-cart"></span> 0</a></li>
  </ul>
</div>
