
<div>
  <ul>
    <li><a href="/en-us/quickorder"><span class="icon icon-quick-order"></span> Quick order</a></li>
    <li><a href="https://commerce.bio-rad.com/orderstatus"><span class="icon icon-order-status"></span> Order status</a></li>
    <li><a href="/en-us/help-center"><span class="icon icon-help-center"></span> Help center</a></li>
    <li class="header-locale-item">
      <span class="icon icon-globe" aria-hidden="true"></span>
      <select class="header-locale-select" name="locale" aria-label="Language and region" title="Language and region">
        <option value="/en/">US | EN</option>
        <option value="/fr/">FR</option>
        <option value="/de/">DE</option>
      </select>
    </li>
  </ul>
</div>
